* {
    font-family:Arial, Helvetica, sans-serif;
    color: #67210D;
}

nav {
    background-color: #FDF7DF;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20%;
    justify-content: space-around;
}

nav div {
    padding: 20px 10px;
    text-align: center;
    border: 0;
    width: 6em;
    background-color: #FBDE7A;
    color: #67210D;
    border-radius: 50%;
    font-weight: bold;
   
}

.shopDiv {
    width: 15em;
    margin: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

section {
    margin:0 auto;
    width: 300px;
    height: 310px;
    border-radius: 15%;
    background-color: #FDF7DF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    display: flex;
    width: 100%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.addCartButton {
    background-color: #FBDE7A;
    flex-grow: 1;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
}

.description {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.addCart {
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    width: 50%;
}
 .price {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
 }
 .bio {
    margin-bottom: 0;
 }