* {
    
    font-family: 'Indie Flower';
}

.lavagna {
    background-color: #5D5D5D;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.postit {
    width: 250px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    margin-top: 40px;
    transition: all 1s ease 0;
}

.postit h4 {
    margin: 0 auto;
    font-size: 40px;
}

.postit p {
    margin: 0 auto;
    font-size: 25px;
}

.postit:hover {
    transform:scale(1.4);
    z-index: 1;
}

.giallo {
    background: rgb(246,250,195);
    background: -moz-linear-gradient(top, rgb(246,250,195) 0%, rgb(246,250,195) 70%, rgb(187,188,159) 100%);
    background: -webkit-linear-gradient(top, rgb(246,250,195) 0%, rgb(246,250,195) 70%, rgb(187,188,159) 100%);
    background: linear-gradient(to bottom, rgb(246,250,195) 0%, rgb(246,250,195) 70%, rgb(187,188,159) 100%);
    transform: rotate(355deg);
    }
    
.verde {
    background: rgb(194,246,196);
    background: -moz-linear-gradient(top, rgb(194,246,196) 0%, rgb(194,246,196) 70%, rgb(150,174,153) 100%);
    background: -webkit-linear-gradient(top, rgb(194,246,196) 0%, rgb(194,246,196) 70%, rgb(150,174,153) 100%);
    background: linear-gradient(to bottom, rgb(194,246,196) 0%, rgb(194,246,196) 70%, rgb(150,174,153) 100%);
    transform: rotate(5deg);
    }

.lilla {
background: rgb(192,188,237);
background: -moz-linear-gradient(top, rgb(192,188,237) 0%, rgb(192,188,237) 70%, rgb(130,130,146) 100%);
background: -webkit-linear-gradient(top, rgb(192,188,237) 0%, rgb(192,188,237) 70%, rgb(130,130,146) 100%);
background: linear-gradient(to bottom, rgb(192,188,237) 0%, rgb(192,188,237) 70%, rgb(130,130,146) 100%);
transform: rotate(353deg);
}