* {
    font-family: "Poppins", sans-serif;
    
    
}

body {
    background-image: url(../img/sfondo.png);
    background-attachment: fixed;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 136, 170, 1) 0%, rgba(9, 84, 103, 1) 100%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
    color: white;

}

.epiclogo {
    width: 170px;
    padding-top: 50px;
}

.card {
    margin: 0 auto;
    width: 90%;
    display: block;
}

.listnavbar {
    list-style-type: none;
   }

.listnavbar a:hover {
    color: red;
}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li::before {
    content: '⇒';
}

nav ul li::after {
    content: '⇐';
}

main {
    background-color: white;
   }

.mario {
    color: #AAAAC3;
}

.viola {
    color: rgb(144, 20, 175);
}

samp {
    background-color: rgb(218, 218, 218);
    border-color: rgb(95, 93, 93);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.tabella2 {
    border-collapse: collapse;
    border-bottom: 1px solid blue;
    text-align: center;
    width: 90%;
    margin: 0 auto;

}

thead {
    background-color: blue;
    color: white;

}

tbody tr:nth-child(even) {
    background-color: rgb(211, 206, 206);
    border-top: 0.5px solid rgb(117, 115, 115);
    border-bottom: 0.5px solid gray;
}

td,
th {
    padding: 5px;
}

iframe {
    border-radius: 20px;
}

.video {
    width: 100%;
    margin: 0 auto;
}

.iscriviti {
    margin: 0 auto;
    width: 90%;
    background-color: rgb(203, 208, 212);
    text-align: center;

}

button {
    color: white;
    background-color: blue;
}

.correlati {
    text-align: center;
}

.container1 {
    /* text-align: center; */
    width: 90%;
    margin: 0 auto;
    
}
.articolo {
    background-color: rgb(218, 218, 219);
    margin: 20px auto;
    padding: 15px;
   }
   
.parte1 {
    margin: 0;
}

.parte2 {
    text-align: end;
}